
{% extends "base_home_student.html" %}

{% block content %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
{#                <img class="img-fluid"  alt="" src={{ url_for('static', filename="elearning/img/carousel-1.jpg")}}>#}
                <img class="img-fluid"  alt="" src={{ url_for('static', filename="elearning/img/enspd.webp")}}>
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Meilleurs cours en ligne</h5>
                                <h1 class="display-3 text-white animated slideInDown">Retrouvez les cours des universites les plus prestigieuse</h1>
{#                                <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>#}
                                {% if not session['role'] %}
                                    <a href="{{ url_for('login') }}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Se connecter</a>
                                    <a href="{{ url_for('register') }}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Creer un compte</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
{#                <img class="img-fluid" alt="" src={{ url_for('static', filename="elearning/img/carousel-2.jpg")}} >#}
                <img class="img-fluid"  alt="" src={{ url_for('static', filename="elearning/img/enspd3.webp")}}>
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Meilleurs cours en ligne</h5>
                                <h1 class="display-3 text-white animated slideInDown">Eduquez vous en ligne</h1>
{#                                <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>#}
                                {% if not session['role'] %}
                                    <a href="{{ url_for('login') }}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Se connecter</a>
                                    <a href="{{ url_for('register') }}" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Creer un compte</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

{% endblock %}
