{% extends "base_home_student.html" %}

{% block content %}

    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3"> Cours </h6>
                <h1 class="mb-5">Tous les cours </h1>
            </div>

            {% for course in courses %}

                <div class="d-flex align-items-center mb-3">
                            <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 100px; height: 100px;">
                                <i class="fa fa-map-marker-alt text-white"></i>
                            </div>
                            <div class="ms-3">
                                <a href="{{ url_for("student_view_course_content", courseId = course.get_id()) }}"><h5 class="text-primary"> {{ course.get_title() }} </h5></a>
                                <p class="mb-0"> {{ course.get_description() }} </p>
                                <p class="mb-0"> {{ course.get_institution_name() }} </p>
                            </div>

                </div>

            {% endfor %}




        </div>
    </div>

{% endblock %}